APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:614FDijz/+lPiV+5Z5GbZlbKQ8NKrxb3U6oOWafax5w=
APP_DEBUG=true
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

# PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=sqlsrv
DB_HOST=127.0.0.1
DB_PORT=1433
DB_DATABASE=test_template
DB_USERNAME=12345
DB_PASSWORD=12345
DB_ENCRYPT=no
DB_TRUST_SERVER_CERTIFICATE=true

DB_HOST_TEMPHUMID=127.0.0.1
DB_PORT_TEMPHUMID=1433
DB_DATABASE_TEMPHUMID=TempHumid
DB_USERNAME_TEMPHUMID=12345
DB_PASSWORD_TEMPHUMID=12345
DB_ENCRYPT_TEMPHUMID=no
DB_TRUST_SERVER_CERTIFICATE_TEMPHUMID=true

DB_CONNECTION_MATEMPLOYEES_READER=sqlsrv_matemployees_reader
DB_HOST_MATEMPLOYEES_READER=192.168.1.11
DB_PORT_MATEMPLOYEES_READER=1433
DB_DATABASE_MATEMPLOYEES_READER=Global_MATEmployees
DB_USERNAME_MATEMPLOYEES_READER=UnifiedLogin
DB_PASSWORD_MATEMPLOYEES_READER=UnifiedLogin
DB_ENCRYPT_MATEMPLOYEES_READER=no
DB_TRUST_SERVER_CERTIFICATE_MATEMPLOYEES_READER=true

DB_CONNECTION_MATGALLERY_READER=sqlsrv_matgallery_reader
DB_HOST_MATGALLERY_READER=192.168.1.11
DB_PORT_MATGALLERY_READER=1433
DB_DATABASE_MATGALLERY_READER=MAT_SoftwareGallery
DB_USERNAME_MATGALLERY_READER=UnifiedLogin
DB_PASSWORD_MATGALLERY_READER=UnifiedLogin
DB_ENCRYPT_MATGALLERY_READER=no
DB_TRUST_SERVER_CERTIFICATE_MATGALLERY_READER=true

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=file
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"


MAT_AUTH_API_URL=https://192.168.1.100:1001/api/auth/user-info
MAT_AUTH_API_SIGNOUT_URL=https://192.168.1.100:1001/api/auth/sign-out
MAT_AUTH_TIMEOUT_SECONDS=10
MAT_AUTH_RETRY_TIMES=1
MAT_AUTH_RETRY_SLEEP_MILLISECONDS=200
MAT_AUTH_VERIFY_TLS=false
